.contenedores {
    display: flex;
}

.contenedor-1,
.contenedor-2,
.contenedor-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10%;
}

#numero-filas,
#numero-columnas {
    max-width: 70px;
}

.grid-container {
    display: inline-grid;
}

.caja {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    box-sizing: border-box;
}

.seleccionado {
    background-color: blue;
}

.boton {
    background-color: lightgreen;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    outline: none;
    border-radius: 10px;
}

#btnLapiz {
    background-image: url("./img/pencil.png");
}

#btnGoma {
    background-image: url("./img/eraser.png");
}

#container {
    position: absolute;
    top: 22%;
    left: 10%;
    justify-items: center;
}